* {
    left: 0;
    right: 0;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    text-decoration: none;
}
header {
    width: 1000px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

header div {
    display: flex;
    background-image: url(https://gstatic.com/classroom/themes/img_breakfast.jpg);
    height: 240px;
    border-radius: 15px;
    background-size: contain;
    flex-direction: column;
}

header div h1 {
    color: rgb(241, 241, 241);
    margin: 150px 0 0 25px;
}

header div h3 {
    color: rgb(241, 241, 241);
    margin: 10px 0 0 25px
}

.activity {
    border: lightgray solid 2px;
    border-radius: 25px;
    height: 70px;
    margin: 30px;
    display: flex;

}

.activity {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;

}

.list {
    display: flex;
    align-items: center;
    margin: 0 25px 0 25px;
    padding: 12px;
    background-color: orange;
    border-radius: 100px;
}

input[type="text"] {
    border: 0px solid;
    width: 87%;
    color: gray;
    font-size: 18px;
    border-style: 0;
    background-color: transparent;
    outline: none;
}


.activity a {
    display: flex;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
}

.text h3{
    margin: 0;
    color: rgb(86, 86, 86);
    font-size: 18px;
    font-weight: 501;
}

.text h5{
    margin: 0;
    color: rgb(153, 153, 153);
}

.activity:hover {
    background-color: rgb(244, 243, 243);
    transition: 0.3s all ease;
}
